---
layout: default
title: "Academia"
permalink: /academia/
description: Academic (mostly) articles and publications.
---

<div class="academia">
  <p>Academic (mostly) articles and publications.</p>
  {% for post in site.categories.academia %}
  <div class="post-short">
    <div class="pub-info">
      {% if post.pub-type %}<p class="pub-type"><strong>{{ post.pub-type }}</strong></p>{% endif %}
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {% if post.pub-link %}
        <em><a href="{{ page.pub-link }}" target="_blank">{{ post.pub-source }}</a></em>{% if post.pub-volume %}, {{ post.pub-volume }}{% endif %}
      {% else %}<em>{{ post.pub-source }}</em>{% endif %}{% if post.pub-volume %}{{ post.pub-volume }}{% endif %}
      <br />
      {% if post.pub-location %}{{ post.pub-location }}: {{post.publisher}}, {% endif %}
      {% if post.pub-date %}{{ post.pub-date }}{% endif %}{% if post.pp %}, pp. {{ post.pp}}{% endif %}</p>
      <p>{{ post.description }}</p>
      {% if post.academia %}<div class="academia">On <a href="https://www.academia.edu/{{ post.academia }}" target="_blank" >Academia.edu</a></div>{% endif %}
    </div>
    <hr />
  </div>
  {% endfor %}
</div>
