/* Exclude Jekyll Build */
public*
.jekyll-metadata

/* Mac OSX */
.DS_Store
Icon
*.swp~

/* Local Testing */
test*

/* Don't commit Dev packages */
node_modules
_site
npm-debug.log
.jekyll-cache

/* Exclude Caching */
.sass-cache/
*.sassc
*.scssc

# Ruby
Gemfile.lock
