---
layout: bare
title: "Welcome"
special: home
---

<div class="home">
  <h2><a href="/cv">Curriculum Vitae</a></h2>
<div class="row">
  <div id="academia" class="column small-12 medium-large-6">
  <h2 class="small subheader border">Publications<small class="float-right"><a href="/publications/">See all</a></small></h2>
  {% for post in site.categories.publication limit: 4 %}
    <div class="post-short">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p>{{ page.description }}</p>
      <p><em>{{ post.pub-source }}</em><br />{% if post.pub-location %}{{post.pub-location}}: {{post.publisher}}, {% endif %}{{post.pub-date}}</p>
    </div>
  {% endfor %}
  </div>
  <div id="ekklesia" class="column small-12 medium-large-6">
    <h2 class="small subheader border">Ekklesia<small class="float-right"><a href="/ekklesia/">See all</a></small></h2>
    {% for post in site.categories.ekklesia limit: 4 %}
    <div class="post-short">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <small>{{ post.date | date: '%F' }}</small>
      <p>{{ post.description }}</p>
    </div>
    {% endfor %}
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="{{ page.base_url }}assets/javascripts/jquery.rss.js"></script>
<script>
  jQuery(function($) {
    $("#wit-feed").rss("https://womenintheology.org/author/mariagwyn/feed",
    {
      limit: 6,
      dateFormat: 'D MMM, YYYY',
      layoutTemplate: "{entries}",
      entryTemplate:'<div class="feed-item column"><h5><a href="{url}" target="_blank">{title}</a></h5><div class="thumb medium-4"><img src="{teaserImageUrl}"></div><small>{date}</small><br/>{shortBody}... <br/><a href="{url}" target="_blank" class="readmore">read more ››</a></div>'
    }),
    $("#deip-feed").rss("http://deiprofundis.org/feed",
    {
      limit: 3,
      dateFormat: 'D MMM, YYYY',
      layoutTemplate: "{entries}",
      entryTemplate:'<div class="feed-item column"><h5><a href="{url}" target="_blank">{title}</a></h5><small>{date}</small><br/>{shortBody}... <br/><a href="{url}" target="_blank" class="readmore">read more ››</a></div>'
    })
  })
</script>
<h4>Recent <a href="http://womenintheology.org" target="_blank">WIT</a> Posts</h4>
<div id="wit-feed" class="row small-up-1 medium-large-up-2 large-up-3"></div>
<h4>Recent <a href="http://deiprofundis.org" target="_blank">DeiProfundis</a> Posts</h4>
<div id="deip-feed" class="row small-up-1 medium-large-up-2 large-up-3"></div>
</div>
