<div class="columns is-multiline">
  <div class="column is-one-quarter has-text-centered	cv">
    <a href="/resume" class="callout" data-equalizer-watch="header">
      <div class="solid"></div>
      <h2 class="title is-4">Resume</h2>
      <p>Labor in the church and the world.</p>
    </a>
  </div>
  <div class="column is-half has-text-centered ekklesia">
    <a href="/ekklesia" class="callout" data-equalizers-watch="header">
      <div class="solid"></div>
      <h2 class="title is-4">Ekklesia</h2>
      <p>Sermons, church-related articles,<br />educational materials and projects.</p>
    </a>
  </div>
  <div class="column is-one-quarter has-text-centered academia">
    <a href="/academia" class="callout" data-equalizer-watch="header">
      <div class="solid"></div>
      <h2 class="title is-4">Academia</h2>
      <p>Academic publications and presentations.</p>
    </a>
  </div>
</div>
