{% if page.callouts %}
    {% assign callouts=site.data.[page.callouts] %}
    <section class="hero {% if callouts.height %} {{ callouts.height }} {% else %} is-medium {% endif %} {{ callouts.style }}" {% if callouts.image %} style="background-image: url('{{ callouts.image }}');" {% endif %}>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-multiline is-centered callouts">
                    {% for callout in callouts.items %}
                        <div class="column {% if callout.columns %} is-{{ callout.columns }} {% else %}is-4{% endif %} {% if callout.class %}{{ callout.class }}{% else %} {% endif %} has-text-centered">
                          <a href="{{ callout.link }}" class="callout">
                          <div class="solid"></div>
                            {% if callout.icon %}
                            <div class="icon callout-icon">
                            {% if callout.icon_brand %}
                                <i class="fab {{ callout.icon }} fa-4x"></i>
                            {% else %}
                                <i class="fas {{ callout.icon }} fa-4x"></i>
                            {% endif %}
                            </div>
                            {% endif %}
                            <p class="title is-4">{{ callout.title }}</p>
                            {% if callout.subtitle %}
                              <p class="subtitle is-5">{{ callout.subtitle }}</p>
                            {% endif %}
                            {% if callout.description %}
                            <div class="content">
                                <p>{{ callout.description | newline_to_br }}</p>
                            </div>
                            {% endif %}

                            {% if callout.call_to_action_name %}

                            {% endif %}
                          </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
