<header class="is-white">
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters is-offset-one-quarter">
        <h1 class="title is-2"><a href="/"><span class="is-size-5 has-text-grey-lighter">The Rev'd </span>Maria Gwyn McDowell<span class="is-size-5 has-text-grey-lighter">, PhD</span></a></h1>
      </div>
    </div>
  </div>
  <div class="header-secondary dumbotron">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column header-picture-container is-3">
          <div class="header-picture">
            <a href="/"><img src="{{ site.author-image}}" alt="{{ site.name }}"></a>
          </div>
        </div>

        <div class="column site-description is-9">
          <p class="title is-3 has-text-primary-light outline">{{ site.description }}</p>
        {% if page.special != 'home' %}
          <h1 class="title is-2">{{ page.title }}</h1>
          {% if page.subtitle %}
            <p class="subtitle is-6">{{ page.subtitle }}</p>
          {% endif %}
          {% if page.description %}
            <p class="subtitle is-6">{{ page.description }}</p>
          {% endif %}
        {% endif %}
        </div>
      </div>
        {% if page.special == 'home' %}
          {% include callouts-home.html %}
        {% endif %}
      </div>
      {% if page.bio %}
      <div class="column is-full bio highlight-2" id="y">
        <div class="container">
          {% include bio-short.html %}
          <p><a href="/about"><small>read more »</small></a></p>
        </div>
      </div>
      {% endif %}
    </div>
</header>
