<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content={{ site.theme_color | default: '#ffffff' }}>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">
    <link rel="shortcut icon" type="image/png"
          {% if site.favicon %} href="{{ site.favicon | relative_url }}" {% else %} href="{{ site.baseurl }}/favicon.png" {% endif %}
    />
    <script defer src="https://unpkg.com/alpinejs@3.9.0/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
    {% if page.support contains 'jquery' %}
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
      integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
      crossorigin="anonymous"></script>
    {% endif %}
    {% if page.support contains 'media' or page.file-audio or page.file-video or page.vimeo or page.youtube %}
      <script src="https://cdn.plyr.io/3.7.2/plyr.js"></script>
      <link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css">
    {% endif %}
    {% if page.support contains 'gallery' %}
      <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
      <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
      <script type="text/javascript" src="/assets/js/portfolio_masonry.js"></script>
      <script src="/assets/js/activate_photoswipe.js" type="module"></script>
      <link href="/assets/css/photoswipe.css" rel="stylesheet" />
    {% endif %}
    {% if page.support contains 'timelinejs' %}
      <link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
      <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
    {% endif %}
    {% unless site.hide_share_buttons %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css">
    {% endunless %}
    {% seo %}
    {% if site.feed %}
    {% feed_meta %}
    {% endif %}
    {%- if site.ga_id -%}
      {%- include google-analytics.html -%}
    {%- endif -%}
    {%- include head-scripts.html -%}
</head>
