---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  {% for post in site.categories.article %}
    <li class="writes-essay" data-words="{{ post.content | number_of_words }}" data-date="{{ forloop.index }}">
      <a href="{{ post.url }}/">
        <h2>{{ post.title }}</h2>
        <p>{{ post.journal }}</p>
        <p>{{ post.excerpt }}</p>
        <p>
          <small data-essay-date="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %Y" }}</small>
        </p>
      </a>
    </li>
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
