@charset "utf-8";
.image.is-30 {
    height: 30%;
    width: 30%;
}

.content .card figure {
  margin-left: 0;
  margin-right: 0;
}
.content .grid-item figure {
  margin-left: .2rem;
  margin-right: .2rem;
}
.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }
.grid-item .card-content {
  padding: .25rem .25rem 1rem;
}

.mosaic {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;

}

.inline-image {
  figure {
    margin: 0 0 0 0;
  }
  &.left {
    padding-right: 1rem;
  }
}

img {
    padding: 1rem;
}
