// Feeds

.feed-item {
  .thumb {
    float: left;
    height: 100px;
    margin: .25rem 1rem 1rem 0;
    overflow: hidden;
    position: relative;
    width: 100px;

    img {
      background: $background-image 60% 25%;
      bottom: -100%;
      left: -100%;
      margin: auto;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      right: -100%;
      top: -100%;
    }
  }
}

.feed-container {
  position: relative;
}
