footer {
  ul {
    margin-left: 0;

    li {
      list-style: none;
    }
  }
  .footer-boxes .cell {
    @include xy-gutters($gutter-position: left right);
    // Use a column count (33%);
    @include xy-cell(4);
  }
  .footer-boxes .social-media-list  {
    &.cell {
      @include xy-cell(100);
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.site-footer {
  padding: 1em;
}

.social-media-list {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;

  .fa {
    font-size: 1.8rem;
    width: 2.8rem;
  }

  a {
    color: $background;
  }
}
