.menu {
  @include breakpoint(small only) {
    &.vertical {
      display: inline-block;
    }
  }

  a {
    border-top: .4rem solid transparent;
  }

  .active {
    a {
      border-top: .4rem solid $menu-item-color-active;
    }
  }
}

.is-dropdown-submenu {
  li {
    list-style: none;
    padding-left: .5em;
  }
}
