.cvresume {
  a {
    color: $tertiary;

    &:hover {
      color: $secondary-color;
    }
  }
}

// Home Dumbotron Blocks
.cv {
  .solid {
    background-color: rgba($primary-color, .8);
  }

  .callout {
    background-color: rgba($primary-color, .5);
  }

  &:hover {
    .callout {background-color: rgba($primary-color, .8);}
  }
}

.academia {
  .solid {
    background-color: rgba($secondary-color, .8);
  }

  .callout {
    background-color: rgba($secondary-color, .5);
  }

  &:hover {
    .callout {background-color: rgba($secondary-color, .8);}
  }
}

.ekklesia {
  .solid {
    background-color: rgba($tertiary, .8);
  }

  .callout {
    background-color: rgba($tertiary, .5);
  }

  &:hover {
    .callout {background-color: rgba($tertiary, .8);}
  }
}

.bio {
  a {
    color: $warning-color;

    &:hover {
      color: $background;
    }
  }
}
// Footer Blocks

.site-footer {
  a {
    color: $warning-color;

    &:hover {
      color: $background;
    }
  }
}

.contacts {
  .callout {
    background-color: rgba($tertiary, .8);
  }
}

.socialmedia {
  .callout {
    background-color: rgba($secondary-color, .8);
  }
}

.colophon {
  .callout {
    background-color: rgba($primary-color, .8);
  }
}

.copy {text-align: center;}

ul {
  &.social-media-share {
    margin-left: 0;

    li {
      display: inline-block;
      list-style: none;
    }
  }
}

// Archive Pages
.archive {
  .column {
    padding-bottom: map-get($grid-column-gutter, small);
  }
}
