// Set your brand colors

/* Colors - redifine black/grey -hsl(0, 0%, 4%)- as brown */
$black: hsl(18, 48%, 4%) !default;
$black-bis: hsl(18, 48%, 7%) !default;
$black-ter: hsl(18, 48%, 14%) !default;

$grey-darker: hsl(33, 18%, 21%) !default; // #4f2b1c
$grey-dark: hsl(33, 18%, 33%) !default;
$grey: hsl(33, 18%, 48%) !default;
$grey-light: hsl(33, 18%, 71%) !default;
$grey-lighter: hsl(33, 18%, 86%) !default;
$grey-lightest: hsl(33, 18%, 93%) !default;

$white-ter: hsl(0, 0%, 96%) !default;
$white-bis: hsl(0, 0%, 98%) !default;
$white: hsl(0, 0%, 100%) !default;

$orange: hsl(14, 100%, 51%) !default;
$yellow: hsl(44, 100%, 51%) !default;
$green: hsl(74, 69%, 33%) !default; // #77931a
$turquoise: hsl(171, 100%, 41%) !default;
$cyan: hsl(207, 61%, 53%) !default;
$blue: hsl(210, 40%, 47%) !default; // #4878a8
$purple: hsl(320 28.4% 42.2%) !default;
$red: hsl(3, 67%, 28%) !default; // #7b1d18

$background-image: url("../images/chi.jpg");

$family-sans-serif:
    "Open Sans",
    "Lucida Grande",
    Myriad,
    BlinkMacSystemFont,
    -apple-system,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    sans-serif;
$family-serif: "Merriweather", Georgia, serif;

// Path to Bulma's sass folder
@use "bulma/sass" with (
    $family-primary: $family-sans-serif,
    $primary: $purple,
    $link: $blue,
    $text: $grey-dark,
    $success: $green,
    $danger: $red,
    $grey-darker: $grey-darker,
    $grey-dark: $grey-dark,
    $grey: $grey,
    $grey-light: $grey-light,
    $grey-lighter: $grey-lighter,
    $grey-lightest: $grey-lightest,
    $control-border-width: 2px,
    $input-shadow: none
);

// MGM SPECIFIC CSS //

// Typography
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Forum");

a:focus,
a:hover {
    color: $green;
}

.title {
    font-family: $family-serif;
}
.subtitle {
    font-family: $family-serif;
}

.footer {
    //  background-color: $white-bis;
    padding: 3rem 1.5rem 6rem;
}

.is-transparent {
    opacity: 0.8;
}

.is-not-transparent {
    opacity: 1;
}

h1.site-name a {
    -webkit-text-fill-color: rgba(125, 30, 25, 0.75);
    -webkit-text-stroke-color: #7d1e19;
    -webkit-text-stroke-width: 1px;
    color: $green;
}

.page-title {
    padding: 5% 0;
}

.left {
    float: left;
    padding-right: 2em;
}
.float-right {
    float: right !important;
}

.bulma-overlay-mixin {
    bottom: 1.5rem;
    left: 1.5rem;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    background-color: #497aab;
    border-radius: 0.25em;
    color: white;
    opacity: 0.7;
    padding: 1em;
    position: relative;
}

.border {
    border-bottom: 1px solid $blue;
    //#497aab
}

.subheader {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    line-height: 1.4;
    color: #8eaecf;
}

.navbar {
    background-color: transparent;
}

.navbar-item {
    color: $green;
    border-top: 0.4rem solid $white-bis;
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
    background-color: $white-bis;
    color: $green;
    border-top: 0.4rem solid $green;
}

ul.social-media-share li {
    display: inline-block;
    list-style: none;
}

ul.no-bullet,
ol.no-bullet {
    margin-left: 0;
    list-style: none;
}

hr {
    background-color: $grey-lighter;
    border: none;
    display: block;
    height: 2px;
    margin: 1.5rem 0;
}

.image.is-30 {
    height: 30%;
    width: 30%;
}

.content .card figure {
    margin-left: 0;
    margin-right: 0;
}

.content .grid-item figure {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.grid-item {
    width: 200px;
}

.grid-item--width2 {
    width: 400px;
}

.grid-item .card-content {
    padding: 0.25rem 0.25rem 1rem;
}

.mosaic {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}

.inline-image figure {
    margin: 0 0 0 0;
}

.inline-image.left {
    padding-right: 1rem;
}

img {
    padding: 1rem;
}

.callout {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: $white-bis;
    color: #fff;
    display: block;
}
.callout .title {
    color: $white-bis;
}
.callout p {
    color: $white-bis;
}

.solid {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 2em;
    margin: -1em -1em 1em;
}

.column.cv a {
    background-color: $blue;
}

.column.cv .solid {
    background-color: rgba(73, 122, 171, 0.8);
}

.column.cv:hover .callout {
    background-color: rgba(73, 122, 171, 0.8);
}

.academia .solid {
    background-color: rgba(123, 29, 24, 0.8);
}

.academia .callout {
    background-color: rgba(123, 29, 24, 0.5);
}

.academia:hover .callout {
    background-color: rgba(123, 29, 24, 0.8);
}

.ekklesia .solid {
    background-color: rgba(119, 147, 26, 0.8);
}

.ekklesia .callout {
    background-color: rgba(119, 147, 26, 0.5);
}

.ekklesia:hover .callout {
    background-color: rgba(119, 147, 26, 0.8);
}

.bio a {
    color: #ffe08a;
}
.bio a:hover {
    color: $white-bis;
}

.highlight-2 {
    background-color: rgba(49, 27, 17, 0.7);
    color: #fff;
    margin: 1.8em 0 2em;
    padding-top: 1em;
}

.notification {
    border-radius: 1rem;
}

// Hero and Dumbotron

.hero {
    background-size: cover;
    background-attachment: fixed;
    border: solid #497aab;
    border-width: 1px 0;
}
.hero.is-white .title {
    color: #497aab;
}
.hero.is-white .subtitle {
    color: #497aab;
    opacity: 0.8;
}

.dumbotron {
    background-attachment: fixed;
    background-image: url("/assets/images/hero-default.jpg");
    background-size: cover;
    border-bottom: 1px solid #301b11;
    border-top: 1px solid #301b11;
}

.dumbotron .highlight-1 .callout {
    padding-top: 0;
}

.dumbotron .highlight-1 a.callout {
    display: block;
}

.dumbotron .highlight-1 p {
    color: #fff;
    font-size: 110%;
}

.dumbotron h2,
.dumbotron h3,
.dumbotron h4,
.dumbotron h5,
.dumbotron h6 {
    color: #fff;
}

.hero.dumbotron.is-primary .title {
    color: #7b1d18;
}

.hero.dumbotron.is-primary .subtitle {
    color: #7b1d18;
    opacity: 0.8;
}

header .header-picture-container {
    padding-left: 0;
}

header .header-picture {
    border-radius: 50%;
    margin-bottom: 1em;
    margin-top: -6em;
    position: relative;
    width: 75%;
    float: right;
}
header .header-picture::before {
    border: solid #5b3220;
    border-radius: 50%;
    border-width: 0 0 1px;
    bottom: 0.3rem;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 1px;
    z-index: 1;
}
header .header-picture img {
    border: 0.6rem solid whitesmoke;
    border-radius: 50%;
    margin-bottom: 0;
    padding: 0;
}
header .header-picture a {
    display: block;
    height: 100%;
    width: 100%;
}

p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

h2,
h3 {
    color: #7b1d18;
    margin-top: 1.4rem;
}

.outline {
    /* Prefix required. Even Firefox only supports the -webkit- prefix */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #311b11;
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
    padding-right: 0.3rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Timeline */
.timeline {
    background: url("../images/chi.jpg");
    border-radius: 1rem;
}
.timeline p {
    line-height: 1.4rem;
    margin-bottom: 0;
}
.timeline h4 {
    margin-bottom: 0.25rem;
}
.timeline ul {
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 1rem;
    margin-left: 0;
    padding: 2rem 0;
}
.timeline li {
    background: whitesmoke;
    list-style-type: none;
    margin: 0 auto;
    padding-top: 2rem;
    position: relative;
    width: 4px;
}
.timeline li.life::after {
    border: 2px solid #c5b9aa;
}
.timeline li.life div {
    border-color: #c5b9aa;
}
.timeline li::after {
    background: inherit;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    content: "";
    height: 30px;
    left: 50%;
    position: absolute;
    top: 2rem;
    transform: translateX(-50%);
    width: 30px;
}
.timeline li div {
    background: whitesmoke;
    border: 2px solid #7b1d18;
    border-radius: 0.5rem;
    bottom: 0;
    padding: 0.75rem;
    position: relative;
    width: 500px;
}
.timeline li div::before {
    border-style: solid;
    content: "";
    height: 0;
    position: absolute;
    top: 7px;
    width: 0;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    border-color: transparent #7b1d18 transparent transparent;
    border-width: 8px 16px 8px 0;
    left: -16px;
}

.timeline ul li:nth-child(even) div {
    left: -539px;
}
.timeline ul li:nth-child(even) div time {
    left: 582px;
    text-align: left;
}

.timeline ul li:nth-child(even) div::before {
    border-color: transparent transparent transparent #7b1d18;
    border-width: 8px 0 8px 16px;
    right: -16px;
}

.timeline time {
    display: block;
    font-size: 1.4rem;
    left: -590px;
    margin-bottom: 0.25rem;
    position: absolute;
    text-align: right;
    top: 0;
    width: 500px;
}

/* Effects */
.timeline ul li::after {
    transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #7b1d18;
}

.timeline ul li div {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    opacity: 1;
    transform: none;
    visibility: visible;
}

/* Tagged List types */
.timeline li.ekklesia::after {
    border: 2px solid #7b1d18;
}

.timeline li.ekklesia div {
    border-color: #7b1d18;
}

.timeline ul li:nth-child(odd).ekklesia div::before {
    border-color: transparent #7b1d18 transparent transparent;
}

.timeline ul li:nth-child(even).ekklesia div::before {
    border-color: transparent transparent transparent #7b1d18;
}

.timeline ul li.in-view.ekklesia::after {
    background: #7b1d18;
}

.timeline li.work::after {
    border: 2px solid #497aab;
}

.timeline li.work div {
    border-color: #497aab;
}

.timeline ul li:nth-child(odd).work div::before {
    border-color: transparent #497aab transparent transparent;
}

.timeline ul li:nth-child(even).work div::before {
    border-color: transparent transparent transparent #497aab;
}

.timeline ul li.in-view.work::after {
    background: #497aab;
}

.timeline ul li:nth-child(odd).life div::before {
    border-color: transparent #c5b9aa transparent transparent;
}

.timeline ul li:nth-child(even).life div::before {
    border-color: transparent transparent transparent #c5b9aa;
}

.timeline ul li.in-view.life::after {
    background: #c5b9aa;
}
.title {
    font-size: 5em;
}
