*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline {
  background: $background-image;
  border-radius: $global-radius;

  p {
    font-size: .7rem;
    line-height: 1.1rem;
    margin-bottom: 0;
  }

  h4 {
    font-size: 1.1rem;
    margin-bottom: .25rem;
  }

  ul {
    margin-left: 0;
    padding: 2rem 0;
    background-color: rgba($background, .8);
    border-radius: $global-radius;
  }

  li {
    background: $background;
    list-style-type: none;
    margin: 0 auto;
    padding-top: 2rem;
    position: relative;
    width: 4px;

    &::after {
      content: '';
      background: inherit;
      border-radius: 50%;
      border: 2px solid $background;
      top: 2rem;
      height: 30px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 30px;
    }

    div {
      background: $background;
      border: 2px solid $secondary-color;
      border-radius: .5rem;
      bottom: 0;
      padding: .75rem;
      position: relative;
      width: 400px;

      &::before {
        content: '';
        border-style: solid;
        top: 7px;
        height: 0;
        position: absolute;
        width: 0;
      }
    }
  }
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  border-color: transparent $secondary-color transparent transparent;
  border-width: 8px 16px 8px 0;
  left: -16px;
}
.timeline ul li:nth-child(even) div {
  left: -439px;

  time {
    left: 482px;
    text-align: left;
  }
}

.timeline ul li:nth-child(even) div::before {
  border-color: transparent transparent transparent $secondary-color;
  border-width: 8px 0 8px 16px;
  right: -15px;
}

time {
  display: block;
  font-size: .8rem;
  font-weight: bold;
  left: -490px;
  margin-bottom: .25rem;
  position: absolute;
  text-align: right;
  top: .3rem;
  width: 400px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view {
  &::after {
    background: $secondary-color;
  }
}

.timeline ul li div {
  opacity: 0;
  transition: all .5s ease-in-out;
  visibility: hidden;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* Tagged List types */

.timeline {
  li {
    &.ekklesia {
      &::after {
        border: 2px solid $tertiary;
      }

      div {
        border-color: $tertiary;
      }
    }
  }
}
.timeline ul li:nth-child(odd).ekklesia div::before {
  border-color: transparent $tertiary transparent transparent;
}
.timeline ul li:nth-child(even).ekklesia div::before {
  border-color: transparent transparent transparent $tertiary;
}
.timeline ul li.in-view {
  &.ekklesia {
    &::after {
      background: $tertiary;
    }
  }
}
.timeline {
  li {
    &.tech {
      &::after {
        border: 2px solid $primary-color;
      }

      div {
        border-color: $primary-color;
      }
    }
  }
}
.timeline ul li:nth-child(odd).tech div::before {
  border-color: transparent $primary-color transparent transparent;
}
.timeline ul li:nth-child(even).tech div::before {
  border-color: transparent transparent transparent $primary-color;
}
.timeline ul li.in-view {
  &.tech {
    &::after {
      background: $primary-color;
    }
  }
}
.timeline {
  li {
    &.life {
      &::after {
        border: 2px solid $primary-text-light;
      }

      div {
        border-color: $primary-text-light;
      }
    }
  }
}
.timeline ul li:nth-child(odd).life div::before {
  border-color: transparent $primary-text-light transparent transparent;
}
.timeline ul li:nth-child(even).life div::before {
  border-color: transparent transparent transparent $primary-text-light;
}
.timeline ul li.in-view {
  &.life {
    &::after {
      background: $primary-text-light;
    }
  }
}
/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    border-color: transparent $secondary-color transparent transparent;
    border-width: 8px 16px 8px 0;
    left: -15px;
  }
}
