<!DOCTYPE html>
{% if page.menubar or page.menubar_toc %}
{% assign has_left_sidebar = true %}
{% endif %}

{% if page.show_sidebar and has_left_sidebar  %}
{% assign content_width = 'is-4' %}
{% elsif page.fullwidth %}
{% assign content_width = 'is-12' %}
{% else %}
{% assign content_width = 'is-8' %}
{% endif %}

<html
 dir="{{ site.direction | default: 'ltr' }}"
 lang="{{ site.lang | default: 'en' }}"
 {% if site.fixed_navbar %}class="has-navbar-fixed-{{ site.fixed_navbar }}"{% endif %}>
  {% include head.html %}
  <body>
    {% include navbar.html %}
    {% include header.html %}
    {% include callouts.html %}
    <section class="section content">
        <div class="container is-max-desktop">
            <div class="columns is-multiline">
              {% unless page.fullwidth %}
                <div class="column is-3-desktop is-3-tablet">
                  {% if page.menubar_toc %}
                    {% assign contentsTitle = page.toc_title | default: 'Contents' %}
                    {% include toc.html html=content class='menu-list' h_min=2 h_max=3 contents_title=contentsTitle %}
                  {% elsif page.menubar %}
                      {% include menubar.html %}
                  {% endif %}
                  {% if page.secondary-menu %}
                    {% include secondary-menu.html %}
                  {% endif %}
                  {% if site.posts %}
                    {% include post-details.html %}
                    {% include latest-posts.html %}
                  {% endif %}
                </div>
              {% endunless %}
                <div class="column content_width">
                    {% include tabs.html %}
                    {% include gallery.html %}
                    {{ content }}
                </div>
            </div>
        </div>
    </section>
    {% unless page.hide_footer %}
        {% include footer.html %}
    {% endunless %}
    <script src="{{ site.baseurl }}/assets/js/app.js" type="text/javascript"></script>
    {%- include footer-scripts.html -%}
  </body>
</html>
