{% include head.html %}
{% include header.html %}
  <div class="row page-body">
    <div class="small-12 medium-8 medium-offset-3 column">
      {% if page.pub-type %}<p class="pub-type"><strong>{{ page.pub-type }}</strong></p>{% endif %}
      <h1>{{ page.title }}</h1>
    </div>
    <div class="small-12 medium-2 medium-offset-1 column infoblock">
      {% if page.date %}<p><i class="fa fa-calendar-o"></i>{{ page.date | date: "%-d %B %Y" }}</p>{% endif %}
      {% if page.academia %}<p class="academia">On <a href="https://www.academia.edu/{{ page.academia }}" target="_blank" >Academia.edu</a></p>{% endif %}
      {% include socialmedia.html %}
    </div>
    <div class="small-12 medium-8 end column">
    <div class="page-content">
      {{ content }}
    </div>
  </div>
  </div>
{% include footer.html %}
{% include foot.html %}
