{% include head.html %}
<body{% if page.class %} class="{{ page.class }}"{% endif %}>
  {% include header.html %}
  {% if page.image-primary %}
  <section class="hero" style="background-image:url('{{ page.image-primary }}');">
    <div class="row intro">
      <div class="small-12 medium-6 columns">
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
      </div>
      <div class="small-12 medium-6 columns">
        <div class="focus-img" style="background-image:url('{{ page.image-primary }}');"></div>
      </div>
    </div>
  </section>

  {% endif %}

  <div class="row page-body">
    <div class="small-12 medium-8 medium-offset-2 large-offset-2 end columns">
    <div class="page-content">
      {% if page.image-primary %}
      <div class="post-image">
        <img src="{{ page.image-primary}} " alt="{{ page.image-caption }}">
        <p>{{ page.image-caption }}</p>
      </div>
      {% endif %}
      <h1>{{ page.title }}</h1>
      <p>{{ page.description }}</p>
      {{ content }}
    </div>
  </div>
  </div>

{% include footer.html %}
{% include foot.html %}
